*.MF
*.bat
*.cfg
*.class
*.csv
*.dll
*.dylib
*.exc
*.exe
*.jar
*.jnilib
*.log
*.patch
*.properties
*.py
*.pyc
*.pyd
*.sh
*.so
*.srg
*.txt
*.zip
.netbeans_automatic_build
.netbeans_update_resources
CHANGELOG
LICENSE
conf/
runtime/
temp/
